<div ng-controller="DevGroupCtrl">
    <!--左侧设备组展示视图-->
    <div class="LeftView">
        <div class="DGTitle">
            <span style="font-size:30px">设备组</span>
            <button style="margin-left:5px" class="btn btn-primary btn-sm" data-toggle="modal"
                    data-target="#addDeviceGroup">+ 创建设备组
            </button>
            <div class="SearchDG">
                <span>搜索：<input type="text" style="width: 130px" placeholder="输入设备组名称" ng-model="$parent.dgname"/></span>
                <span class="Searchicon" ng-click="searchDG()" title="搜索">
                    <i class="fa fa-search fa-lg shand" aria-hidden="true"></i>
                </span>
            </div>

        </div>
        <div class="DGContainer" >
            <div ng-repeat="DG in DeviceGroups" ng-show="showAll">
                <div class="chooseBtn" ng-click="show(DG)">
                    <div>
                        <i class="fa fa-sitemap fa-2x "></i>
                        <p>{{DG.name}}</p>
                    </div>
                </div>
            </div>

            <!--搜索展示视图-->
            <div ng-show="showInfo">
                <div class="chooseBtn" ng-click="show(searchresult)">
                    <div>
                        <i class="fa fa-sitemap fa-2x "></i>
                        <p>{{searchresult.name}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!--modal添加设备组-->
        <div class="modal fade" id="addDeviceGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            添加设备组
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>设备组名：<input type="text" style="pixels: 300px" placeholder="LIANG" ng-model="$parent.addDGName"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="addDG()">
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
    <!--右侧关联设备视图-->
    <div class="RightView">
        <div class="DGAssignContainer">
            <div class="DGTitle DGminTitle">
                <span class="RightviewTitle">设备组信息</span>
                <div class="ruleiconcontainer" data-toggle="modal" data-target="#delDG">
                    <i class="fa fa-trash-o fa-lg ruleicon shand" title="删除"></i>
                </div>
            </div>
            <div class="item">
                <p>
                    设备组名：{{item.name}}
                    <i class="fa fa-pencil-square-o iedit shand" data-toggle="modal"
                       data-target="#editDGName" title="编辑设备组名"></i>
                    </p.time}}</p>
                <p>创建时间：{{item.time}}</p>
                <p>设备组ID：{{item.id}}</p>
            </div>
        </div>


        <div class="DGAssignContainer">
            <div class="DGTitle DGminTitle">
                <span class="RightviewTitle">关联设备列表</span>
            </div>
            <!--angular指令-->
            <div class="item">
                <div class="gridStyle DGgridStyle" ui-grid="gridOptions"></div>
            </div>
        </div>
        <!--modal从设备组中删除设备in grid-->
        <div class="modal fade" id="warnDelAssign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            取消关联
                        </h4>
                    </div>
                    <div class="modal-body">
                        从设备组中除去此设备？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary">
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!--modal从设备组中添加设备in grid-->
        <div class="modal fade" id="warnAddAssign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            添加关联
                        </h4>
                    </div>
                    <div class="modal-body">
                        将此设备添加到设备组？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary">
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


        <!--modal删除设备组-->
        <div class="modal fade" id="delDG" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            删除设备组
                        </h4>
                    </div>
                    <div class="modal-body">
                        确定删除此设备组？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消
                        </button>
                        <button type="button" class="btn btn-primary"  ng-click="delDG()">
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!--modal编辑设备组名-->
        <div class="modal fade" id="editDGName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            编辑设备组
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>设备组名：<input type="text" name="NewDGName" placeholder={{item.name}} ng-model="$parent.editdg"></input>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="editDGName()">
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </div>
</div>