<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="mainApp">
<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>物管理平台-系统管理员</title>
    <link rel="icon" href="assets/img/title.icon" type="image/x-icon"/>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT CSS -->
    <link href='assets/css/font-Lobster.css' rel='stylesheet' type='text/css' />

    <!-- MAIN ANGULAR SCRIPT -->
    <script type="text/javascript" src="assets/js/angular.js"></script>
    <script type="text/javascript" src="assets/js/angular-route.js"></script>
    <script type="text/javascript" src="assets/js/angular-animate.js"></script>
    <script type="text/javascript" src="assets/js/angular-resource.js"></script>
    <script type="text/javascript" src="assets/js/mainCtrl.js"></script>
    <script type="text/javascript" src="assets/js/homePageCtrl.js"></script>
    <script type="text/javascript" src="assets/js/deviceListCtrl.js"></script>

    <!--DeviceGroup-->
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <link rel="stylesheet" href="assets/css/ui-grid.css"/>
    <script type="text/javascript" src="assets/js/ui-grid.js"></script>
    <script type="text/javascript" src="assets/js/deviceGroupCtrl.js"></script>

    <!--Rule-->
    <script type="text/javascript" src="assets/js/rulsCtrl.js"></script>
    <script type="text/javascript" src="assets/js/rulefilterCtrl.js"></script>
    <script type="text/javascript" src="assets/js/rulepluginCtrl.js"></script>

</head>
<body ng-controller="mainCtrl">

     <section class="sec-menu" >
        <div class="container">
            <div class="row" id="head-menu">
                <div class="col-md-1 col-sm-1">
                    <span><a href="../login/chooseIndex.html" ><i class="fa fa-reply" id="backIcon"></i></a></span>
                </div>
                <div class="col-md-1 col-sm-1">
                    <span class="menu-open-icon">
                        <i class="fa fa-bars pull-left fa-2x b-clr"></i>
                    </span>
                </div>
                <div class="col-md-4 col-sm-12"></div>
                <div class="col-md-5 col-sm-12" >
                    <i class="pull-right"> 欢迎来到物管理平台 &nbsp;&nbsp;</i>
                </div>
                <div class="col-md-1 col-sm-12">
                    <a href="../home.html"><input type="button" class="btn btn-danger" value="退出登录" id="quit"/></a>
                </div>
            </div>

        </div>
    </section>

     <div id="side-menu">
        <ul>
             <li style="border-bottom:0px;">
             <a href="#" title="close"> <i class="fa fa-close fa-2x menu-close-icon b-clr"></i></a>
            </li>
            <li class="side-menu-icon">
                <a href="" title="首页" ng-click="$location.path('homePage')"> <i class="fa fa-home fa-2x "></i> </a>
            </li>
            <li class="side-menu-icon">
             <a href="" title="设备列表" ng-click="$location.path('deviceList')"> <i class="fa fa-file-text-o fa-2x "></i> </a>
            </li>
            <li class="side-menu-icon">
              <a href="" title="设备组" ng-click="$location.path('deviceGroup')"> <i class="fa fa-cubes fa-2x "></i>  </a>
            </li>
            <li class="side-menu-icon">
              <a href="" title="服务管理" ng-click="$location.path('service')"><i class="fa fa-cog fa-2x "></i>  </a>
            </li>
             <li class="side-menu-icon">
              <a href="" title="插件管理" ng-click="$location.path('plugins')"> <i class="fa fa-plug fa-2x "></i>  </a>
            </li>
            <li class="side-menu-icon">
                <a href="" title="规则管理" ng-click="$location.path('rules')"> <i class="fa fa-link fa-2x "></i>  </a>
            </li>
            <li class="side-menu-icon">
                <a href="" title="能力评估" ng-click="$location.path('evaluate')"> <i class="fa fa-line-chart fa-2x "></i>  </a>
            </li>
            <li class="side-menu-icon">
                <a href="" title="租户" ng-click="$location.path('tenant')"> <i class="fa fa-male fa-2x "></i>  </a>
            </li>
        </ul>
           
    </div>
    <!--MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div ng-view></div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
     <script type="text/javascript" src="assets/js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
     <!-- CUSTOM SCRIPTS  -->
    <script type="text/javascript" src="assets/js/custom.js" ></script>

</body>
</html>
